.clients {
  padding-left: 0.53333333rem;
  padding-bottom: 2.13333333rem;
  position: relative;
  top: 2.13333333rem;
  background: #fff;
}
.clients li {
  height: 3.072rem;
  padding: 0.384rem 0 0.10666667rem;
  border-bottom: 1px solid #e6e8ea ;
}
.clients li p {
  height: 1.10933333rem;
  line-height: 1.10933333rem;
}
.clients li p span {
  float: left;
  font-size: 0.64rem;
  color: #333;
}
.clients li p em {
  float: right;
  font-size: 0.46933333rem;
  color: #e15151;
  padding-right: 0.72533333rem;
}
.clients li b,
.clients li strong {
  display: block;
  font-weight: normal;
  height: 0.98133333rem;
  line-height: 0.98133333rem;
  font-size: 0.512rem;
  color: #999;
  text-indent: 0.85333333rem;
  padding-right: 0.85333333rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clients li b {
  background: url(../images/locationgrey.png) no-repeat left center;
  background-size: 5% ;
}
.clients li strong {
  background: url(../images/clientsgrey.png) no-repeat left center;
  background-size: 5% ;
}
