.userInfo {
  height: 2.624rem;
  background: #fff;
  padding: 0.81066667rem 0.59733333rem;
  border-bottom: 0.02133333rem solid #dddddd;
}
.userInfo img {
  height: 2.56rem;
  width: 2.56rem;
  float: left;
}
.userInfo div {
  float: left;
  height: 100%;
  padding-left: 0.64rem;
}
.userInfo div span {
  display: block;
  font-size: 0.85333333rem;
  line-height: 1.49333333rem;
  color: #333;
}
.userInfo div i {
  display: block;
  font-size: 0.64rem;
  line-height: 0.85333333rem;
  color: #999;
}
.userInfo em {
  float: right;
  height: 100%;
  width: 1.70666667rem;
  background: url(../images/more.png) no-repeat center;
  background-size: 40% ;
}
.cubeList {
  background: #fff;
  margin: 0.32rem 0;
  border-bottom: 0.02133333rem solid #dddddd;
}
.cubeItem {
  width: 3.98933333rem;
  height: 2.432rem;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.64rem 0;
}
.cubeItem dd {
  font-size: 0.55466667rem;
  margin-top: 0.46933333rem;
}
.cubeItem dt {
  width: 1.23733333rem;
  height: 1.23733333rem;
}
dl.cubeItem:nth-of-type(1) dt {
  background: url(../images/items.png) no-repeat center;
}
dl.cubeItem:nth-of-type(2) dt {
  background: url(../images/cube.png) no-repeat center;
}
dl.cubeItem:nth-of-type(3) dt {
  background: url(../images/inform.png) no-repeat center;
}
dl.cubeItem:nth-of-type(4) dt {
  background: url(../images/attendece.png) no-repeat center;
}
dl.cubeItem:nth-of-type(5) dt {
  background: url(../images/check.png) no-repeat center;
}
dl.cubeItem:nth-of-type(6) dt {
  background: url(../images/diary.png) no-repeat center;
}
dl.cubeItem:nth-of-type(7) dt {
  background: url(../images/path.png) no-repeat center;
}
.meList {
  border-top: 0.02133333rem solid #dddddd;
  background: #fff;
  padding-left: 0.53333333rem;
}
.meList li {
  height: 2.00533333rem;
  border-bottom: 0.02133333rem solid #dddddd;
  padding: 0 0.64rem 0 1.28rem;
}
.meList li span {
  float: left;
  font-size: 0.59733333rem;
  line-height: 2.00533333rem;
}
.meList li em {
  float: right;
  height: 100%;
  width: 1.70666667rem;
  background: url(../images/more.png) no-repeat center;
  background-size: 40% ;
}
.meList li:nth-of-type(1) {
  background: url(../images/lock.png) no-repeat left center;
}
.meList li:nth-of-type(2) {
  background: url(../images/qi.png) no-repeat left center;
}
.meList li:nth-of-type(3) {
  background: url(../images/set.png) no-repeat left center;
}
.meList li:nth-of-type(4) {
  background: url(../images/score.png) no-repeat left center;
}
.meList li:nth-of-type(5) {
  background: url(../images/got.png) no-repeat left center;
}
