@charset "utf-8";
input,
label,
dl,
dt,
dd,
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
h4 {
  font-weight: normal;
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #f8f8f8;
  font-family: "微软雅黑";
  position: relative;
}
a {
  text-decoration: none;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
}
body {
  -webkit-user-select: none;
}
body * {
  font-family: helvetica;
}
:focus {
  outline: none;
}
ul,
li {
  list-style: none;
}
i,
em,
b,
strong {
  font-style: normal;
}
.clear-fix:after {
  content: ".";
  overflow: hidden;
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
  width: 0;
}
#login {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f8f8f8 ;
}
#login dl {
  width: 100%;
  height: 5.86666667rem;
  padding-top: 2.77333333rem;
  display: -webkit-box;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: center;
  -webkit-align-content: center;
}
#login dt {
  width: 2.98666667rem;
  height: 2.98666667rem;
  margin: 0 auto;
}
#login dt img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}
#login dd {
  text-align: center;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  font-size: 0.53333333rem;
}
.info {
  padding: 0 0.53333333rem;
}
.info div {
  height: 1.70666667rem;
  font-size: 0.64rem;
  line-height: 1.70666667rem;
  border: 0.02133333rem solid transparent;
}
.info label,
.info input {
  float: left;
}
.info label {
  padding-right: 1.28rem;
  color: #666;
}
.info input {
  -webkit-appearance: none;
  background: none;
  border: none;
  height: 1.70666667rem;
  box-sizing: border-box;
  line-height: 1.70666667rem;
  font-size: 0.55466667rem;
}
.info input:focus {
  outline: none;
}
.info .login-summit,
.info .register-summit {
  display: block;
  text-align: center;
  font-size: 0.59733333rem;
  color: #fff;
  background: #f66158;
  border-radius: 0.93866667rem;
  height: 1.87733333rem;
  line-height: 1.87733333rem;
}
.to-register,
.to-login {
  display: block;
  font-size: 0.512rem;
  text-align: center;
  color: #f66158;
  line-height: 2.21866667rem;
  height: 2.21866667rem;
}
#register {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 5.97333333rem;
  background: #f8f8f8 ;
}
.backLogin {
  display: block;
  position: absolute;
  top: 1.06666667rem;
  text-align: center;
  left: 0.42666667rem;
  height: 1.45066667rem;
  line-height: 1.45066667rem;
  width: 2.56rem;
  font-size: 0.55466667rem;
  text-indent: 0.21333333rem;
  color: #888888;
  background: url(../images/back.png) no-repeat 0.21333333rem center;
  background-size: 26% ;
}
.login-error {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 0.21333333rem;
  top: 0;
  left: 0;
}
.login-error p {
  font-size: 0.81066667rem;
  width: 100%;
  height: 4.26666667rem;
  line-height: 4.26666667rem;
  border-bottom: 1px solid #888888;
  text-align: center;
}
.login-error span {
  display: block;
  height: 2.13333333rem;
  line-height: 2.13333333rem;
  font-size: 0.64rem;
  border-radius: 0.21333333rem;
  text-align: center;
}
.login-error div {
  width: 80%;
  height: 6.42133333rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.64rem;
  position: absolute;
  left: 10%;
  top: 20%;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}
header em {
  display: block;
  float: left;
}
header a {
  padding: 0.64rem;
  width: 1.024rem;
  height: 1.45066667rem;
  line-height: 1.024rem;
  text-align: center;
  display: block;
  float: left;
  text-decoration: none;
  color: #333333;
  font-size: 0.512rem;
}
header a:last-of-type {
  float: right;
}
header .chart {
  background: url(../images/chart.png) no-repeat center;
  background-origin: content-box;
  background-size: 1rem ;
}
header .back {
  text-indent: 0.21333333rem;
  background: url(../images/back.png) no-repeat center;
  background-size: 40% ;
}
header .setting {
  background: url(../images/setup.png) no-repeat center;
  background-origin: content-box;
  background-size: 100% ;
}
header .adding {
  background: url(../images/add.png) no-repeat center;
  background-origin: content-box;
  background-size: 100% ;
}
header h4 {
  line-height: 2.73066667rem;
  font-size: 0.81066667rem;
  float: left;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  width: 71.2%;
  height: 2.73066667rem;
  justify-content: space-around;
}
.redBg {
  background: #FB6F65;
}
.whiteBg {
  background: #fff;
}
footer {
  width: 100%;
  position: fixed;
  background: #fff;
  bottom: 0;
  left: 0;
  z-index: 90;
}
footer ul {
  width: 100%;
  background: #f6f6f6;
}
footer li {
  float: left;
  height: 2.13333333rem;
  width: 20%;
  border-top: 1px solid #efefef;
}
footer li a {
  color: #666;
  display: block;
}
footer li i,
footer li span {
  display: block;
  text-align: center;
}
footer li span {
  font-size: 0.85333333rem;
  height: 0.93866667rem;
  line-height: 0.93866667rem;
  padding-top: 0.42666667rem;
}
footer li i {
  font-size: 0.42666667rem;
  height: 0.768rem;
  line-height: 0.768rem;
}
footer .redColor {
  color: #fb6f65;
}
.headerRedBg {
  width: 100%;
  height: 2.77333333rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #FB6F65;
  z-index: 1;
}
.headerRedBg + .whiteBg {
  box-shadow: none;
}
#outerWrap {
  height: 100%;
  overflow: hidden;
}
#contWrap {
  position: fixed;
  overflow-x: hidden ;
  visibility: visible;
  width: 100%;
  top: 2.70066666rem;
  left: 0;
  height: 23.57333333rem;
}
.contWrap {
  background: #fb6f65;
}
#contWrap.firstContWrap {
  height: 23.57333333rem;
  position: absolute;
  top: 0;
  padding-top: 2.73066667rem;
  z-index: 80;
}
.firstSec {
  position: relative;
  height: 8.74666667rem;
  width: 41.6rem;
  margin-left: -11.73333333rem;
  z-index: 20;
}
.firstSec .bg {
  width: 60%;
  height: 40%;
  border-radius: 50% 50% 0 0;
  background: #fff;
  position: absolute;
  bottom: -0.02133333rem;
  left: 20%;
  z-index: 20;
}
.firstSec .bans {
  width: 100%;
  height: 9.13066667rem;
  position: absolute;
  left: 0;
  transform: translateX(-1rem);
  z-index: 21;
}
.banner {
  width: 13.86666667rem;
  height: 8.42666667rem;
  border: 0.02133333rem solid #f1f1f1;
  border-radius: 0.36266667rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0.42666667rem 0.42666667rem -0.21333333rem rgba(200, 200, 200, 0.7);
  transform: scale(0.8);
  float: left;
}
.banner h3 {
  width: 100%;
  font-size: 0.64rem;
  height: 2.13333333rem;
  line-height: 2.13333333rem;
  text-align: center;
  font-weight: normal;
}
.banner .details {
  height: 5.33333333rem;
}
.banner .details dl {
  float: left;
  height: 90%;
  width: 33.33%;
  text-align: center;
}
.banner .details dt {
  font-size: 0.72533333rem;
  height: 3.2rem;
  box-sizing: border-box;
  padding-top: 1.70666667rem;
  line-height: 1.49333333rem;
  color: #f00 ;
}
.banner .details dd {
  font-size: 0.512rem;
  color: #acacac;
  height: 2.13333333rem;
  line-height: 0.64rem;
}
.banner .details dl:nth-of-type(2) dt {
  font-size: 1.792rem;
  padding-top: 0.21333333rem;
  line-height: 3.2rem;
}
.banner .details dl:nth-of-type(2) dd {
  font-size: 0.512rem;
  line-height: 1.06666667rem;
}
.banner:nth-of-type(2) {
  transform: scale(1);
  margin: 0 -1.06666667rem;
}
#main {
  width: 100%;
  border-radius: 10% 10% 0 0;
  position: relative;
  background: #f9f9f9;
  top: 0rem;
}
#main .list {
  height: 4.48rem;
  background: #fff;
  margin-bottom: 0.42666667rem;
}
#main .list li {
  float: left;
  width: 25%;
  height: 4.48rem;
  text-align: center;
  font-size: 0.55466667rem;
}
#main .list li a {
  display: block;
  width: 1.28rem;
  margin: 0 auto;
  padding-top: 2.13333333rem;
  color: #333;
  line-height: 2.34666667rem;
}
#main .list li:nth-of-type(1) a {
  background: url(../images/attendece.png) no-repeat center 0.93866667rem;
  background-size: 100% ;
}
#main .list li:nth-of-type(2) a {
  background: url(../images/cube.png) no-repeat center 0.93866667rem;
  background-size: 100% ;
}
#main .list li:nth-of-type(3) a {
  background: url(../images/inform.png) no-repeat center 0.93866667rem;
  background-size: 100% ;
}
#main .list li:nth-of-type(4) a {
  background: url(../images/items.png) no-repeat center 0.93866667rem;
  background-size: 100% ;
}
#main div {
  min-height: 4.48rem;
  background: #fff;
}
#main div + div {
  margin-top: 0.42666667rem;
}
#main div h4 {
  height: 1.28rem;
  line-height: 1.28rem;
  text-indent: 0.21333333rem;
  font-size: 0.55466667rem;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}
#main div h4 i {
  color: #FB6F65 ;
  font-weight: bold;
}
#main .eventProject {
  border-top: 0.02133333rem solid #dddddd;
  overflow-x: hidden;
  position: relative;
}
#main .eventProject ul {
  padding-top: 1.665rem;
}
#main .eventProject .scheItem {
  background: #fff;
  border-bottom: 0.02133333rem solid #cccccc;
  padding: 0.21333333rem 0.42666667rem;
  position: relative;
}
#main .eventProject .scheItem span {
  font-size: 0.59733333rem;
  height: 0.93866667rem;
  display: block;
  line-height: 0.93866667rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main .eventProject .scheItem span i {
  display: inline-block;
  width: 0.85333333rem;
  text-align: center;
}
#main .eventProject span.scheItemTitle {
  color: #F66158;
}
.communicate {
  padding-left: 0.42666667rem;
  position: relative;
  top: 2.13333333rem;
  background: #fff;
}
.communicate li {
  height: 2.02666667rem;
  padding: 0.384rem 0 0.10666667rem;
  border-bottom: 0.02133333rem solid #e6e8ea;
}
.communicate li span,
.communicate li i,
.communicate li em {
  display: block;
}
.communicate li img {
  height: 2.02666667rem;
  width: 2.02666667rem;
  float: left;
}
.communicate li div {
  float: left;
  padding-left: 0.68266667rem;
}
.communicate li span {
  font-size: 0.68266667rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  color: #333;
}
.products li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 14.50666667rem;
}
#contWrap.productsWrap {
  height: 25.70666667rem;
}
.communicate li i {
  font-size: 0.55466667rem;
  height: 0.85333333rem;
  line-height: 0.85333333rem;
  color: #999999;
}
.communicate li:nth-of-type(even) em {
  background: url(../images/photos.png) no-repeat center;
  background-size: contain ;
}
.communicate li:nth-of-type(odd) em {
  background: url(../images/photos1.png) no-repeat center;
  background-size: contain ;
}
#connectDetail {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 92;
}
#connectDetail .connectSName,
#connectDetail .connectName {
  width: 100%;
  height: 10.66666667rem;
  background: #fff;
  margin-bottom: 1.70666667rem;
  box-sizing: border-box;
  padding: 7.46666667rem 0 0 1.06666667rem;
  background: #F66158;
  line-height: 3.2rem;
  font-size: 1.49333333rem;
  background: url(../images/detbg.png) no-repeat center;
  background-size: 16rem 10.66666667rem;
  color: #fff;
}
#connectDetail .connectAdd,
#connectDetail .connectTel {
  width: 100%;
  height: 2.13333333rem;
  box-sizing: border-box;
  padding-left: 1.06666667rem;
  line-height: 2.13333333rem;
  font-size: 0.85333333rem;
}
#connectDetail .connectSName {
  font-size: 1.06666667rem;
  line-height: 1.70666667rem;
  padding: 7.46666667rem 1.06666667rem 0;
}
#connectDetail .connectType {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.64rem;
  line-height: 1.70666667rem;
  font-size: 0.64rem;
  text-indent: 0.85333333rem;
}
#connectDetail .connectFoot {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2.56rem;
  line-height: 2.56rem;
  background: rgba(246, 97, 88, 0.9);
  font-size: 0.85333333rem;
  border-top: 0.02133333rem solid #666666;
  text-align: center;
}
#connectDetail .connectFoot a {
  color: #fff;
}
#connectDetail .connectHead {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 2.13333333rem;
  line-height: 2.13333333rem;
  border-bottom: 0.02133333rem solid #ffffff;
  color: #fff;
}
#connectDetail .connectHead em {
  float: left;
  width: 3.2rem;
  background: url(../images/backw.png) no-repeat 0.42666667rem center;
  background-size: 0.85333333rem;
  text-indent: 1.06666667rem;
  font-size: 0.68266667rem;
}
#connectDetail .connectHead span {
  float: left;
  width: 12.8rem;
  text-indent: 3.41333333rem;
  font-size: 0.81066667rem;
}
#message .chatList {
  position: fixed;
  top: 2.73066667rem;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.42666667rem;
  height: 23.76533333rem;
  overflow-y: auto;
}
#message .chatList li {
  height: 2.13333333rem;
}
#message .chatFoot {
  position: fixed;
  bottom: 0;
  left: 0 ;
  width: 100%;
  height: 1.70666667rem;
  background: #fff;
  border-top: 0.02133333rem solid #666666;
  padding-bottom: 0.21333333rem;
}
#message .chatFoot em {
  float: left;
  height: 100%;
  width: 1.70666667rem;
  background: url(../images/语音.png) no-repeat center;
  background-size: 1.28rem;
}
#message .chatFoot input {
  float: left;
  width: 11.09333333rem;
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 1.28rem;
  margin: 0.21333333rem 0 0.21333333rem;
  font-size: 0.85333333rem;
  text-indent: 0.21333333rem;
}
#message .chatFoot span {
  float: left;
  width: 3.2rem;
  font-size: 0.85333333rem;
  line-height: 1.70666667rem;
  text-align: center;
}
#message .chatItem {
  float: right;
  padding: 0.42666667rem 0.42666667rem;
  background: #FFAA99;
  color: #fff;
  border-radius: 0.42666667rem;
  font-size: 0.59733333rem;
}
header.whiteBg {
  box-shadow: 0 1px 0 1px #ccc;
}
header.whiteBg h4 {
  box-sizing: border-box;
  padding: 0 0.64rem;
  align-items: center;
}
header.whiteBg h4 span {
  font-weight: normal;
  font-size: 0.64rem;
  height: 0.896rem;
  line-height: 0.896rem;
  display: block;
}
header.whiteBg h4 span.redBorder {
  border-bottom: 0.04266667rem solid #fb6f65;
}
.comSearch {
  box-sizing: border-box;
  height: 2.13333333rem;
  padding: 0.42666667rem;
  position: fixed;
  top: 2.73066667rem;
  width: 100%;
  background: #F8F8F8;
  z-index: 10;
}
.comSearch input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.42666667rem;
  -webkit-appearance: none;
  border: none;
  font-size: 0.64rem;
  text-indent: 0.64rem;
  color: #666666;
}
.clients {
  padding-left: 0.53333333rem;
  position: relative;
  top: 3.2rem;
  background: #fff;
}
.clients li {
  height: 3.072rem;
  padding: 0.384rem 0 0.10666667rem;
  border-bottom: 1px solid #e6e8ea ;
}
.clients li p {
  height: 1.10933333rem;
  line-height: 1.10933333rem;
}
.clients li p span {
  float: left;
  font-size: 0.64rem;
  color: #333;
}
.clients li p em {
  float: right;
  font-size: 0.46933333rem;
  color: #e15151;
  padding-right: 0.72533333rem;
}
.clients li b,
.clients li strong {
  display: block;
  font-weight: normal;
  height: 0.98133333rem;
  line-height: 0.98133333rem;
  font-size: 0.512rem;
  color: #999;
  text-indent: 0.85333333rem;
  padding-right: 0.85333333rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clients li b {
  background: url(../images/locationgrey.png) no-repeat left center;
  background-size: 5% ;
}
.clients li strong {
  background: url(../images/clientsgrey.png) no-repeat left center;
  background-size: 5% ;
}
.clientsEdit {
  height: 3.2rem;
  box-sizing: border-box;
  border-bottom: 0.02133333rem solid #dddddd;
  padding: 0;
}
.clientsEdit input {
  height: 1.06666667rem;
  width: 14.976rem;
  margin: 0.21333333rem;
}
.clientsEdit ul {
  box-sizing: border-box;
  border-bottom: 0.02133333rem solid #dddddd;
  position: relative;
  z-index: 40;
}
.clientsEdit li {
  float: left;
  box-sizing: border-box;
  height: 1.664rem;
  width: 5.33333333rem;
  text-align: center;
  line-height: 1.664rem;
  font-size: 0.64rem;
  color: #666;
  position: relative;
  z-index: 40;
  background: #f8f8f8;
}
.clientsEdit li div {
  position: relative;
}
.clientsEdit li div span {
  display: block;
  line-height: 1.664rem;
  border-bottom: 0.02133333rem solid #dddddd;
  color: #FB6F65;
}
.clientsEdit li div .unfold {
  background: #f8f8f8 url(../images/unfold.png) no-repeat 4.05333333rem center;
  background-size: 13% ;
  position: relative;
  z-index: 30;
}
.clientsEdit li div .fold {
  background: #f8f8f8 url(../images/fold.png) no-repeat 4.05333333rem center;
  background-size: 13% ;
  position: relative;
  z-index: 30;
}
.clientsEdit li div .orderList {
  width: 300%;
  position: absolute;
  bottom: -3.41333333rem;
  background: none;
  background: #fff;
  z-index: 0;
}
.clientsEdit li div .orderList b {
  display: block;
  text-align: left;
  padding-left: 1.6rem;
  border-bottom: 0.02133333rem solid #dddddd;
  font-weight: normal;
  color: #333;
}
.clientsEdit .filter {
  text-indent: 0.85333333rem;
  background-image: url(../images/filter.png);
  background-repeat: no-repeat;
  background-position: 1.152rem center;
  background-size: 14% ;
}
.clientsEdit li + li {
  border-left: 0.02133333rem solid #dddddd;
}
.filterPage {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 16rem;
  height: 100%;
  z-index: 100;
}
.filterPage .filterDetail {
  float: right;
  box-sizing: border-box;
  width: 13.09866667rem;
  height: 100%;
  background: #fff;
  padding: 1.152rem 0.42666667rem 0;
}
.filterPage .filterDetail li span {
  height: 1.62133333rem;
  width: 3.62666667rem;
  background: #eaeaea;
  border-radius: 0.17066667rem;
  line-height: 1.62133333rem;
  text-align: center;
  font-size: 0.55466667rem;
  color: #333;
  margin: 0.21333333rem;
  float: left;
}
.filterPage .filterDetail li .chooseRed {
  background: #FB5555;
  color: #fff;
}
.filterPage .filterDetail h4 {
  font-size: 0.59733333rem;
  height: 1.23733333rem;
  line-height: 1.23733333rem;
  color: #6c6c6c;
  border-bottom: 0.02133333rem solid #dddddd;
}
.filterPage .filterDetail div {
  padding: 0.64rem 0 0.85333333rem;
}
.filterPage div.btns {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0rem;
  left: 2.98666667rem;
  padding: 0;
}
.filterPage .reset,
.filterPage .submit {
  display: block;
  float: left;
  height: 2.13333333rem;
  font-size: 0.72533333rem;
  line-height: 2.13333333rem;
  text-align: center;
  color: #fff;
}
.filterPage .reset {
  width: 5.41866667rem;
  background: #ffaa99;
}
.filterPage .submit {
  width: 7.68rem;
  background: #ff5555;
}
.canlender {
  height: 4.56533333rem;
  border-top: 0.02133333rem solid #dddddd;
  border-bottom: 0.02133333rem solid #dddddd;
  padding: 0 0.85333333rem 0.55466667rem;
  background: #fff;
  margin-top: 0.32rem;
  margin-bottom: 0.32rem;
  overflow: hidden;
}
.canlender p {
  height: 1.36533333rem;
  padding-top: 0.10666667rem;
  line-height: 1.36533333rem;
  font-size: 0.512rem;
  text-align: center;
  color: #999;
}
.canlender .weeks {
  height: 1.06666667rem;
  border-bottom: 0.02133333rem solid #dddddd;
}
.canlender li {
  float: left;
  width: 0.85333333rem;
  text-align: center;
  line-height: 1.06666667rem;
  font-size: 0.512rem;
}
.canlender li + li {
  margin-left: 1.38666667rem;
}
.canlender li:first-of-type {
  color: #999;
}
.canlender .days {
  height: 0.85333333rem;
  line-height: 0.85333333rem;
  padding: 0.55466667rem 0;
  width: 21.33333333rem;
  margin-left: -2.24rem;
}
.canlender .days li {
  font-size: 0.59733333rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
}
.canlender li.selectedD {
  border: 0.02133333rem solid #f66158;
}
.canlender .today {
  background: #F66158;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0.32rem #f66158;
}
.scheList {
  border-top: 0.02133333rem solid #dddddd;
  background: #ffffff url(../images/schebg.png) no-repeat 0 1.664rem;
  background-size: 100% ;
  height: 17.74933333rem;
  overflow-x: hidden;
  position: relative;
}
.scheList ul {
  padding-top: 1.665rem;
}
.scheList .scheItem {
  background: #fff;
  border-bottom: 0.02133333rem solid #cccccc;
  padding: 0.21333333rem 0.42666667rem;
  position: relative;
}
.scheList .scheItem span {
  font-size: 0.59733333rem;
  height: 0.93866667rem;
  display: block;
  line-height: 0.93866667rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scheList .scheItem span i {
  display: inline-block;
  width: 0.85333333rem;
  text-align: center;
}
.scheList .scheItem strong {
  font-weight: normal;
  display: block;
  position: absolute;
  top: 0;
  right: -3.2rem;
  width: 3.2rem;
  box-sizing: border-box;
  height: 100%;
  color: #fff;
  font-size: 0.72533333rem;
  text-align: center;
  border-left: 0.02133333rem solid #666666;
}
.scheList .scheItem strong b {
  display: block;
  display: flex;
  flex-direction: column;
  height: 50%;
  font-weight: normal;
  background: #F66158;
}
.scheList .scheItem strong b:first-of-type {
  background: #f8f8f8;
  color: #333;
}
.scheList .scheItem strong em {
  display: block;
  margin: auto;
}
.scheList span.scheItemTitle {
  color: #F66158;
}
.scheList p {
  height: 1.664rem;
  position: fixed;
  z-index: 92;
  background: #fff;
  top: 8.53333333rem;
  width: 16rem;
  line-height: 1.664rem;
  font-size: 0.512rem;
  text-indent: 0.85333333rem;
  border-bottom: 0.02133333rem solid #666;
}
#addSche {
  position: fixed;
  display: block;
  width: 2.13333333rem;
  height: 2.13333333rem;
  background: #FB6F65;
  border-radius: 50%;
  right: 0.85333333rem;
  bottom: 2.77333333rem;
  text-align: center;
  line-height: 1.98rem;
  color: #fff;
  font-size: 1.92rem;
  box-shadow: 0 0 0.10666667rem 0 #f66158;
  z-index: 10;
}
#addPage {
  width: 16rem;
  height: 28.45866667rem;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 249, 250, 0.97);
  z-index: 92;
  color: #666;
}
#addPage .timeShow {
  position: absolute;
  top: 4.26666667rem;
  left: 2.13333333rem;
  height: 2.13333333rem;
}
#addPage .timeShow span {
  float: left;
  font-size: 1.408rem;
  line-height: 1.49333333rem;
  padding: 0.32rem;
  font-weight: bold;
}
#addPage .timeShow span em {
  display: block;
  font-weight: normal;
  font-size: 0.512rem;
  line-height: 0.74666667rem;
}
#addPage p {
  position: absolute;
  left: 2.13333333rem;
  top: 6.4rem;
  height: 0.85333333rem;
  line-height: 0.85333333rem;
  font-size: 0.55466667rem;
  width: 70%;
}
#addPage .chooseItem {
  position: absolute;
  top: 13.65333333rem;
  padding: 0 1.408rem;
}
#addPage .chooseItem dl {
  padding: 1.49333333rem 0.896rem 0;
  width: 2.56rem;
  font-size: 0.512rem;
  float: left;
}
#addPage .chooseItem dt {
  width: 2.56rem;
  height: 2.56rem;
}
#addPage .chooseItem dt a {
  display: block;
  width: 100%;
  height: 100%;
}
#addPage .chooseItem dd {
  text-align: center;
  height: 0.512rem;
  line-height: 0.512rem;
  padding-top: 0.59733333rem;
}
#addPage .chooseItem dd a {
  color: #333;
}
#addPage .chooseItem dl:nth-of-type(1) dt {
  background: url(../images/add1.png) no-repeat center;
  background-size: contain ;
}
#addPage .chooseItem dl:nth-of-type(2) dt {
  background: url(../images/add3.png) no-repeat center;
  background-size: contain ;
}
#addPage .chooseItem dl:nth-of-type(3) dt {
  background: url(../images/add4.png) no-repeat center;
  background-size: contain ;
}
#addPage .chooseItem dl:nth-of-type(4) dt {
  background: url(../images/add5.png) no-repeat center;
  background-size: contain ;
}
#addPage .close {
  position: absolute;
  bottom: 0;
  height: 1.83466667rem;
  line-height: 1.83466667rem;
  text-align: center;
  font-size: 1.06666667rem;
  width: 100%;
}
#addPage .close span {
  display: block;
  margin: 0 auto;
  width: 2.13333333rem;
}
.newpro {
  width: 100%;
  height: 100%;
}
.newpro ul {
  padding-top: 0.42666667rem;
}
.newpro li {
  min-height: 2.13333333rem;
  border: 0.02133333rem solid #dddddd;
  border-width: 0.02133333rem 0;
  background: #fff;
  margin-bottom: 0.32rem;
  line-height: 2.13333333rem;
  font-size: 0.64rem;
  padding: 0 0.42666667rem;
  overflow: hidden;
}
.newpro li span {
  float: left;
}
.newpro li em {
  float: right;
}
.newpro .oneLi em {
  height: 2.13333333rem;
  width: 2.13333333rem;
  background: url(../images/more.png) no-repeat right center;
  background-size: 0.85333333rem;
}
.newpro .oneLi input {
  width: 12.58666667rem;
}
.newpro .wholeDay em {
  height: 1.06666667rem;
  width: 1.92rem;
  margin: 0.53333333rem 0.42666667rem;
  padding: 0.02133333rem;
  border-radius: 0.53333333rem;
  border: 0.02133333rem solid #999999;
}
.newpro .wholeDay em i {
  display: block;
  background: #fff;
  box-shadow: 0 0.02133333rem 0.17066667rem 0 #999999;
  width: 1.06666667rem;
  height: 1.06666667rem;
  border-radius: 50%;
}
.newpro .seTime {
  height: 4.288rem;
}
.newpro .seTime span {
  line-height: 4.288rem;
  padding-right: 0.85333333rem;
  padding-left: 0.21333333rem;
  border-right: 0.02133333rem solid #dddddd;
}
.newpro .seTime em {
  height: 2.13333333rem;
  width: 9.81333333rem;
  color: #666;
  background: url(../images/more.png) no-repeat right center;
  background-size: 0.85333333rem;
  text-align: right;
  padding-right: 1.49333333rem;
}
.newpro .seTime em:first-of-type {
  border-bottom: 0.02133333rem solid #dddddd;
}
.newpro .clientName {
  float: left;
  padding-left: 1.70666667rem;
  color: #666;
  width: 8.32rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.newpro input {
  -webkit-appearance: none;
  text-indent: 1.92rem;
  font-family: "微软雅黑";
  color: #666;
  float: right;
  width: 12.8rem;
  height: 2.13333333rem;
  border: none;
  font-size: 0.64rem;
  line-height: 2.13333333rem;
  display: block;
  box-sizing: border-box;
}
.newpro textarea {
  width: 100%;
  height: 4.69333333rem;
  -webkit-appearance: none;
  border: none;
  border-top: 0.02133333rem solid #dddddd;
  font-size: 0.55466667rem;
  line-height: 0.85333333rem;
  padding-top: 0.21333333rem;
}
#selectTime {
  position: absolute;
  height: 28.45866667rem;
  width: 16rem;
  left: 0;
  bottom: 0;
  z-index: 91;
}
#selectTime .timeMask {
  width: 100%;
  height: 19.47733333rem;
  background: rgba(0, 0, 0, 0.2);
}
#selectTime .timeMenu {
  height: 2.13333333rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0 1.06666667rem;
  background: #fff;
  border-bottom: 0.02133333rem solid #666666;
  border-top: 0.02133333rem solid #666666;
  box-shadow: 0 -0.21333333rem 0.64rem 0 rgba(0, 0, 0, 0.2);
}
#selectTime .timeMenu span {
  display: block;
  height: 2.13333333rem;
  line-height: 2.13333333rem;
  font-size: 0.68266667rem;
  padding: 0 0.42666667rem;
}
#selectTime .showTime {
  height: 6.80533333rem;
  overflow: hidden;
  background: #fafafa;
}
#selectTime .showTime div {
  float: left;
  height: 99%;
  width: 15%;
  box-sizing: border-box;
  padding: 0 0.32rem;
  background: url(../images/timeBg.png) no-repeat center;
  background-size: 80% 100%;
}
#selectTime .showTime ul {
  width: 100%;
  height: 100%;
  margin-top: -2.13333333rem;
}
#selectTime .showTime ul li {
  height: 2.13333333rem;
  line-height: 2.13333333rem;
  text-align: center;
  color: #666;
  font-size: 0.85333333rem;
}
#selectTime .showTime div:first-of-type {
  width: 25% ;
  padding: 0 0.42666667rem;
}
#timeWarning {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 91;
}
#timeWarning div {
  width: 10.66666667rem;
  height: 6.4rem;
  background: #f8f8f8;
  margin: auto;
  border-radius: 0.85333333rem;
}
#timeWarning em,
#timeWarning span {
  display: block;
  height: 4.69333333rem;
  line-height: 4.69333333rem;
  text-align: center;
  font-size: 0.768rem;
  color: #FB6F65;
}
#timeWarning em {
  height: 1.68533333rem;
  border-top: 0.02133333rem solid #dddddd;
  line-height: 1.68533333rem;
  color: #333;
  font-size: 0.68266667rem;
}
#timeWarning a {
  color: #333;
  display: block;
}
#selectClientWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  height: 28.45866667rem;
  background: #f8f8f8;
}
#selectClientWrap li {
  height: 1.38666667rem;
}
#selectClientWrap .communicate {
  top: 5.33333333rem;
}
.selectClient {
  background: #f8f8f8;
}
.overSave {
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 2.56rem;
  height: 2.56rem;
  color: #fff;
  background: #F66158;
}
.overSave a {
  color: #fff;
  display: block;
}
.userInfo {
  height: 2.624rem;
  background: #fff;
  padding: 0.81066667rem 0.59733333rem;
  border-bottom: 0.02133333rem solid #dddddd;
}
.userInfo img {
  height: 2.56rem;
  width: 2.56rem;
  float: left;
}
.userInfo div {
  float: left;
  height: 100%;
  padding-left: 0.64rem;
}
.userInfo div span {
  display: block;
  font-size: 0.85333333rem;
  line-height: 1.49333333rem;
  color: #333;
}
.userInfo div i {
  display: block;
  font-size: 0.64rem;
  line-height: 0.85333333rem;
  color: #999;
}
.userInfo em {
  float: right;
  height: 100%;
  width: 1.70666667rem;
  background: url(../images/more.png) no-repeat center;
  background-size: 40% ;
}
.cubeList {
  background: #fff;
  margin: 0.32rem 0;
  border-bottom: 0.02133333rem solid #dddddd;
}
.cubeItem {
  width: 3.98933333rem;
  height: 2.432rem;
  float: left;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.64rem 0;
  color: #333;
}
.cubeItem span {
  display: block;
  font-size: 0.55466667rem;
  margin-top: 0.46933333rem;
}
.cubeItem i {
  display: block;
  width: 1.23733333rem;
  height: 1.23733333rem;
}
a.cubeItem:nth-of-type(1) i {
  background: url(../images/items.png) no-repeat center;
  background-size: cover ;
}
a.cubeItem:nth-of-type(2) i {
  background: url(../images/cube.png) no-repeat center;
  background-size: cover ;
}
a.cubeItem:nth-of-type(3) i {
  background: url(../images/inform.png) no-repeat center;
  background-size: cover ;
}
a.cubeItem:nth-of-type(4) i {
  background: url(../images/attendece.png) no-repeat center;
  background-size: cover ;
}
a.cubeItem:nth-of-type(5) i {
  background: url(../images/check.png) no-repeat center;
  background-size: cover ;
}
a.cubeItem:nth-of-type(6) i {
  background: url(../images/diary.png) no-repeat center;
  background-size: cover ;
}
.meList {
  border-top: 0.02133333rem solid #dddddd;
  background: #fff;
  padding-left: 0.53333333rem;
}
.meList li {
  height: 2.00533333rem;
  border-bottom: 0.02133333rem solid #dddddd;
  padding: 0 0.64rem 0 1.28rem;
}
.meList li span {
  float: left;
  font-size: 0.59733333rem;
  line-height: 2.00533333rem;
}
.meList li em {
  float: right;
  height: 100%;
  width: 1.70666667rem;
  background: url(../images/more.png) no-repeat center;
  background-size: 40% ;
}
.meList li:nth-of-type(1) {
  background: url(../images/lock.png) no-repeat left center;
}
.meList li:nth-of-type(2) {
  background: url(../images/qi.png) no-repeat left center;
}
.meList li:nth-of-type(3) {
  background: url(../images/set.png) no-repeat left center;
}
.meList li:nth-of-type(4) {
  background: url(../images/score.png) no-repeat left center;
}
.meList li:nth-of-type(5) {
  background: url(../images/got.png) no-repeat left center;
}
#contWrap.chartWrap {
  height: 91%;
}
.chartsList {
  padding: 0.192rem 0.384rem;
}
.chartsList li {
  margin: 0 auto 0.42666667rem;
  width: 15.14666667rem;
  border: 0.02133333rem solid #dddddd;
  border-radius: 0.21333333rem;
  background: #fff;
}
.chartsList li dl {
  float: left;
  height: 100%;
  width: 33.33%;
  text-align: center;
}
.chartsList li dt {
  font-size: 0.768rem;
  height: 3.2rem;
  box-sizing: border-box;
  padding-top: 1.70666667rem;
  line-height: 1.49333333rem;
  color: #f00 ;
}
.chartsList li dd {
  font-size: 0.512rem;
  color: #acacac;
  height: 2.13333333rem;
  line-height: 0.64rem;
}
.chartsList li dl:nth-of-type(2) dt {
  font-size: 1.28rem;
  padding-top: 0.64rem;
  line-height: 3.2rem;
}
.chartsList li dl:nth-of-type(2) dd {
  font-size: 0.55466667rem;
  line-height: 1.06666667rem;
}
.chartsList li h4 {
  height: 1.28rem;
  line-height: 1.28rem;
  text-indent: 0.21333333rem;
  font-size: 0.55466667rem;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}
.chartsList li h4 i {
  color: #FB6F65 ;
  font-weight: bold;
}
.chartsList li .eChart {
  min-height: 1.152rem;
  padding: 0.10666667rem 0;
  border-top: 1px solid #ddd;
}
.chartsList li .eChart span {
  display: block;
  width: 1.70666667rem;
  height: 1.152rem;
  margin: 0 auto;
  background: url(../images/unfold.png) no-repeat center;
  background-size: 80%;
}
.chartsList li .eChart .unfold {
  background: url(../images/unfold.png) no-repeat center;
  background-size: 80%;
}
.chartsList li .eChart .fold {
  background: url(../images/fold.png) no-repeat center;
  background-size: 80%;
}
.chartsList li .eChart .chartDetail {
  height: 7.04rem;
  width: 15.14666667rem;
  transition: 0.8s;
}
#map {
  width: 100%;
  height: 6.4rem;
  border-bottom: 0.02133333rem solid #dddddd;
  background: #fff;
}
.attendInfo {
  height: 18.38933333rem;
  background: #fff;
  padding: 0 0.53333333rem;
}
.attendInfo li {
  padding: 0.34133333rem 0;
  border-bottom: 0.02133333rem solid #dddddd;
}
.attendInfo li span {
  display: block;
  font-size: 0.68266667rem;
  line-height: 1.19466667rem;
  height: 1.19466667rem;
  color: #333333;
}
.attendInfo li i {
  font-size: 0.55466667rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  color: #999;
}
.attendInfo li.last {
  border-bottom: none;
  height: 1.06666667rem;
}
.in,
.out,
.checkover {
  position: absolute;
  bottom: 0.85333333rem;
  display: block;
  width: 12.8rem;
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  color: #fff;
  left: 1.6rem;
  text-align: center;
  font-size: 0.85333333rem;
  border-radius: 0.42666667rem;
}
.out {
  background: #FB6F65;
}
.in {
  background: darkseagreen;
}
.checkover {
  background: #aaa;
}
.editInfoPage {
  position: absolute;
  background: #F8F8F8;
  top: 2.73066667rem;
  left: 0;
  width: 100%;
  height: 25.70666667rem;
  box-sizing: border-box;
  z-index: 92;
  padding-top: 0.21333333rem;
}
.editInfoPage .editPhoto {
  width: 100%;
  height: 2.944rem;
  background: #fff;
  border-top: 0.02133333rem solid #dddddd;
  border-bottom: 0.02133333rem solid #dddddd;
}
.editInfoPage .editPhoto span {
  float: left;
  line-height: 2.944rem;
  font-size: 0.896rem;
  padding-left: 0.42666667rem;
}
.editInfoPage .editPhoto img {
  float: right;
  width: 2.13333333rem;
  height: 2.13333333rem;
  margin: 0.40533333rem;
  padding-right: 0.85333333rem;
}
.editInfoPage .editPhoto .file {
  width: 2.13333333rem;
  height: 2.13333333rem;
  margin: 0.40533333rem;
  padding-right: 0.85333333rem;
  position: absolute;
  right: 0;
  opacity: 0;
}
.editInfoPage ul {
  margin-top: 0.21333333rem;
  border-bottom: 0.02133333rem solid #dddddd;
  border-top: 0.02133333rem solid #dddddd;
  background: #fff;
  padding: 0 0.42666667rem;
}
.editInfoPage ul li {
  height: 2.00533333rem;
  line-height: 2.00533333rem;
  font-size: 0.68266667rem;
  border-bottom: 0.02133333rem solid #dddddd;
  position: relative;
}
.editInfoPage ul li div {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 2.00533333rem;
  width: 11.73333333rem;
}
.editInfoPage ul li input {
  float: left;
  box-sizing: border-box;
  height: 1.96266667rem;
  width: 10.02666667rem;
  border: none;
  font-size: 0.68266667rem;
}
.editInfoPage ul li input::-webkit-input-placeholder {
  color: #eee;
}
.editInfoPage ul li input::-moz-placeholder {
  color: #eee;
}
.editInfoPage ul li i {
  float: left;
  width: 1.70666667rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.74666667rem;
  line-height: 1.96266667rem;
  background: #fff;
}
.editInfoPage ul li:nth-last-child {
  border-bottom: none;
}
.editInfoPage ul span {
  float: left;
  color: #333;
}
.editInfoPage ul em {
  float: right;
  color: #666;
  padding-right: 0.85333333rem;
  background: url(../images/more.png) no-repeat right center;
  background-size: 0.68266667rem;
}
.informItem {
  background: #fff;
  height: 1.70666667rem;
  border-bottom: 0.02133333rem solid #dddddd;
  font-size: 0.68266667rem;
  line-height: 1.70666667rem;
  text-indent: 0.64rem;
}
.informItem span {
  float: left;
  width: 10.24rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.informItem em {
  float: right;
  margin-right: 0.21333333rem;
  width: 1.70666667rem;
  height: 100%;
  background: url(../images/more.png) no-repeat center;
  background-size: 0.64rem;
}
.informItem i {
  float: left;
  font-size: 0.59733333rem;
  color: #666;
}
#informDetail {
  position: fixed;
  top: 0;
  left: 0;
  width: 16rem;
  height: 28.45866667rem;
  background: #fff;
  z-index: 95;
}
#informContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 2.73066667rem;
}
#informContent h4 {
  width: 100%;
  text-align: center;
  line-height: 2.56rem;
  height: 2.56rem;
  font-size: 0.72533333rem;
}
#informContent p {
  text-indent: 1.28rem;
  font-size: 0.64rem;
  padding: 0 0.74666667rem;
  line-height: 1.06666667rem;
  color: #333;
}
h6 {
  line-height: 2.73066667rem;
  font-weight: normal;
  font-size: 0.768rem;
  overflow: hidden;
  width: 11.392rem;
  text-align: center;
  float: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.addProject {
  position: fixed;
  width: 100%;
  height: 2.13333333rem;
  bottom: 0rem;
  text-align: center;
  line-height: 2.13333333rem;
  color: #fff;
  font-size: 0.72533333rem;
  background: #f66158 url(../images/addition1.png) no-repeat 5.33333333rem center;
  background-size: 0.96rem;
}
.addProject a {
  display: block;
  color: #fff;
}
.myproject {
  background: #fff;
  overflow: hidden;
  border-bottom: 0.02133333rem solid #666666;
  line-height: 1.70666667rem;
  text-indent: 0.64rem;
}
.myproject span {
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.72533333rem;
  color: #333;
}
.myproject span b {
  float: right;
  font-weight: normal;
  font-size: 0.55466667rem;
  color: #666;
  padding-right: 1.06666667rem;
}
.myproject em {
  float: right;
  margin-right: 0.21333333rem;
  padding-right: 0.64rem;
  margin-right: 0.64rem;
  background: url(../images/morer.png) no-repeat center right;
  background-size: 0.64rem;
  font-size: 0.59733333rem;
  color: #F66158;
}
.myproject i {
  float: left;
  font-size: 0.59733333rem;
  color: #666;
}
#updateItem {
  position: fixed;
  width: 16rem;
  height: 28.45866667rem;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 93;
  overflow-y: auto;
}
.itemDetail {
  background: #fff;
  padding-top: 2.73066667rem;
  box-sizing: border-box;
  height: 28.45866667rem;
}
.itemDetail div {
  border-bottom: 0.02133333rem solid #dddddd;
  line-height: 1.70666667rem;
  font-size: 0.68266667rem;
  padding: 0 0.64rem;
}
.itemDetail .itemTitle {
  color: #F66158;
}
.itemDetail ul li {
  border-bottom: 0.02133333rem solid #dddddd;
  min-height: 2.13333333rem;
}
.itemDetail ul li span {
  display: block;
  font-size: 0.55466667rem;
  height: 1.28rem;
  line-height: 1.28rem;
  color: #666;
}
.oneItem {
  display: block;
  background: rgba(245, 240, 240, 0.4);
  font-size: 0.59733333rem;
  height: 1.70666667rem;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 0.64rem;
}
.oneItem span {
  width: 8.96rem;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.28rem;
}
.oneItem em {
  float: right;
  line-height: 1.28rem;
  padding-right: 0.64rem;
  color: #F66158;
}
div.updateDetail {
  padding: 0;
  overflow: hidden;
}
div.updateDetail span {
  display: block;
}
#updatePage {
  position: fixed;
  width: 16rem;
  height: 28.45866667rem;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 94;
  overflow: hidden;
}
.updateEdit {
  height: 2.13333333rem;
  width: 100%;
  border: none;
  font-size: 0.72533333rem;
  display: block;
  background: #fafafa;
}
.updateSave,
.saveBuild {
  position: fixed;
  width: 100%;
  height: 2.13333333rem;
  bottom: 0rem;
  text-align: center;
  line-height: 2.13333333rem;
  color: #fff;
  font-size: 0.72533333rem;
  z-index: 94;
  background: #F66158;
}
.itemNum em {
  width: 5.33333333rem;
}
.itemNum em i,
.itemNum em input {
  display: block;
  float: left;
  width: 1.06666667rem;
}
.itemNum em input {
  width: 3.2rem;
  background: #fafafa;
  text-indent: 0.42666667rem;
  box-shadow: inset 0 0 0 0.42666667rem #ffffff;
}
.newItem input {
  width: 15.14666667rem;
  height: 2.13333333rem;
  display: block;
  text-indent: 0;
}
