@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot?bu2bra#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bu2bra') format('truetype'),
    url('fonts/icomoon.woff?bu2bra') format('woff'),
    url('fonts/icomoon.svg?bu2bra#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-index:before {
  content: "\e900";
}
.icon-clients:before {
  content: "\e903";
}
.icon-sche:before {
  content: "\e953";
}
.icon-me:before {
  content: "\e971";
}
.icon-communicate:before {
  content: "\ea9f";
}
